@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  text-align: center;
  background-color: black;
  color: white;
}

.App {
  margin: 2rem auto;
  width: 40%;
}

.Card {
  padding: 2rem;
  background-color: black;
}

li {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.text-field{
  font-size: 1.5rem;
  background-color: black;
  color: white;
  padding: 1rem;
  min-width: 25rem;
  min-height: 10rem;
  resize: none;
  border: 0;
  font-family: 'Roboto', sans-serif;

}

.tweet-button {
  background-color: #007BFF;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 0;
  padding: 0.5rem;
  margin-right: 0;
  margin-left: auto;
  display: block;

}

.form {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
}

::placeholder {
  color: white;
  font-family: 'Roboto', sans-serif;
}

:focus {
  outline: none;
}

.tweet-card-header {
  color: #6C757D;
  font-size: 1rem;
}