@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  text-align: center;
  background-color: black;
  color: white;
}

.App {
  margin: 2rem auto;
  width: 40%;
}

.Card {
  padding: 2rem;
  background-color: black;
}

li {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.tweet-content {
  text-align: start;
}

.text-field{
  font-size: 1.2rem;
  background-color: black;
  color: white;
  padding: 1rem 0;
  min-width: 31rem;
  min-height: 10rem;
  margin-left: -0.5rem;
  margin-top: -0.8rem;
  resize: none;
  /* border: 4px solid yellow; */
  border: 0;
  font-family: 'Roboto', sans-serif;

}

.tweet-button, .save-button {
  background-color: #007BFF;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 0;
  padding: 0.5rem;
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.save-button {
  color: white;
}

.form {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
}

::placeholder {
  color: white;
  font-family: 'Roboto', sans-serif;
}

:focus {
  outline: none;
}

.tweet-card-header {
  color: #6C757D;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.tweet-error {
  background-color: #F8D7DA;
  color: #721C24;
  border-radius: 5px;
  padding: 0.5rem;

}

.card-footer {
  display: flex;
}

.profile-form {
  background-color: black;
  color: white;
  resize: none;
  font-size: 1.2rem;
  min-width: 15rem;
}

h4 {
  border: 2px solid yellow;
  margin-bottom: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* border: 3px solid purple; */
}

.nav {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  min-height: 10vh;
  background-color: #343A40;
  color: white;
}

.nav>li{
  padding: 1rem;
}

.nav-bar {
  width: 80%;
  margin: 2rem auto;
}

.loader {
  padding: 1rem;
}

.profile-input {
  color: white;
  background-color: black;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  min-width: 20rem;
  border-radius: 5px;
  border: 1px solid white;
  padding: 1rem 0 0 0.5rem;
}

.profile>h2 {
  /* border: 3px solid yellow; */
  align-self: start;
  padding-bottom: 0.5rem;
}

.user-input {
  display: flex;
  flex-flow: column nowrap;
}

.user-input>span{
  /* border: 3px solid red; */
  align-self: start;
  padding-bottom: 0.3rem;
  padding-top: 0.6rem;
  padding-left: 0.2rem;

}

.user-input>button{
  margin: 0.5rem 0.1rem 0 auto;
  background-color: #007BFF;
  font-size: 1rem;
  width: 5rem;
  border-radius: 5px;
  border: 0;
  padding: 0.3rem;
  color: white;
}

.password{
  padding-top: 0.7rem;
}

.profile-buttons, .update-profile-button{
  display: flex;
  margin-left: auto;
  margin-bottom: 3rem;
}

.profile-buttons>button{
  background-color: #007BFF;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 0.3rem;
  margin-top: 0.5rem; 
  margin-left: 0.3rem;
  width: 5rem;
}

.update-profile-button>button{
  background-color: #007BFF;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  padding: 0.3rem;
  width: 8rem;

}

